body {
  background: #9ab9ed;
}
header > h1{
  font-family: "Helvetica";
  padding-left: 10px;
  width: 40px;
  position: fixed;
  vertical-align: text-top;
  display:block-inline;
}
nav {
  font-family: "Helvetica";
  text-transform: uppercase;
  position: fixed;
  margin-left: 300px;
  width: 80px;
  display:block-inline;
nav > ul > li{
  Posi
}
}
.content {
  position:absolute;
  margin-top:200px;
  display:block;
}
footer {
  display: block;
  position:absolute;
  margin:2000px;
}


